section:nth-child(2n) {
  background-color: aliceblue;
}

section:nth-child(2n+1) {
  background-color: gray;
}

/* Flexbox */
<main>{
  display: flex;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-wrap: wrap; 
  justify-content: space-between; 
}
