* {
font-family: Arial, sans-serif;
}

.h2 {
font-family: Times New Roman, serif;
}

h1 {
font-family: Georgia, serif;
}

@import 
  url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
font-family: Roboto;
}

#info {
background-color: red;
color: purple;
}


.form-example {
color: purple;
}
